@{
    ViewBag.Title = "Reset password confirmation";
}

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
         style="background-image: url(/Content/assets/images/banner-trang-san-pham-tin-tuc-01-4.jpg)">
    <h2 class="tit6 t-center">Đặt lại mật khẩu</h2>
</section>


<div class="container p-t-160 p-b-80 p-l-15 p-r-15 " id="load_data">
    <div class="row">
    </div>
    <hr />
    <div>
        <b>
            Mật khẩu của bạn đã được đặt lại. Vui lòng @Html.ActionLink("ấn vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </b>
    </div>
</div>

