
@{
    ViewBag.Title = "Sản phẩm quảng cáo";
}


<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15"
         style="background-image: url(/Content/assets/images/bg-title-page-1.png)"></section>

<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
                <h2 class="tit6-copy t-center">Sản phẩm thú cưng</h2>
            </div>
        </div>
    </div>
</section>

<section class="section-lunch bgwhite">
    <div class="header-lunch parallax0 parallax100" style="background-image: url(/Content/assets/images/header-menu-1.jpg)">
            <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">Thức ăn thú cưng</h2>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-1.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Thức ăn hạt cho chó </a>
                        <span class="txt23"> Dinh dưỡng cân đối, phù hợp cho chó trưởng thành </span>
                        <span class="txt22 m-t-20"> Thức ăn thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-2.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Thức ăn hạt vị gà </a>
                        <span class="txt23"> Công thức giàu protein, hương vị thơm ngon </span>
                        <span class="txt22 m-t-20"> Thức ăn thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-3.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Thức ăn hạt vị bò </a>
                        <span class="txt23"> Hỗ trợ năng lượng và sức khoẻ cơ bắp cho thú cưng </span>
                        <span class="txt22 m-t-20"> Thức ăn thú cưng </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-4.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Thức ăn bổ sung ngũ cốc </a>
                        <span class="txt23"> Thêm năng lượng và chất xơ cho hệ tiêu hoá khoẻ mạnh </span>
                        <span class="txt22 m-t-20"> Thức ăn thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-5.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Thức ăn hữu cơ cho thú cưng </a>
                        <span class="txt23"> Nguyên liệu hữu cơ, an toàn cho thú nuôi nhạy cảm </span>
                        <span class="txt22 m-t-20"> Thức ăn thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Milk-6.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Thức ăn ướt cho thú cưng </a>
                        <span class="txt23"> Lựa chọn mềm mượt, dễ ăn cho thú cưng kén ăn </span>
                        <span class="txt22 m-t-20"> Thức ăn thú cưng </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-dinner bgwhite">
    <div class="header-dinner parallax0 parallax100" style="background-image: url(/Content/assets/images/header-menu-2.jpg)">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">Thức ăn vặt cho thú cưng</h2>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-1.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Snack tự nhiên cho thú cưng </a>
                        <span class="txt23"> Snack bổ dưỡng, nhẹ nhàng cho hệ tiêu hoá </span>
                        <span class="txt22 m-t-20"> Thức ăn vặt cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-2.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Snack vị nếp cẩm cho thú cưng </a>
                        <span class="txt23"> Hương vị độc đáo, phù hợp cho thú cưng thử nghiệm </span>
                        <span class="txt22 m-t-20"> Thức ăn vặt cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-3.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Đồ uống probiotic cho thú cưng </a>
                        <span class="txt23"> Hỗ trợ hệ tiêu hoá với men vi sinh an toàn </span>
                        <span class="txt22 m-t-20"> Thức ăn vặt cho thú cưng </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-5.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Snack uống hương dâu cho thú cưng
                        </a>
                        <span class="txt23"> Công thức an toàn, giàu men lợi khuẩn </span>
                        <span class="txt22 m-t-20"> Thức ăn vặt cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-4.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Snack vị xoài cho thú cưng </a>
                        <span class="txt23"> Hương vị trái cây thơm ngon, dễ ăn </span>
                        <span class="txt22 m-t-20"> Thức ăn vặt cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Yogurt-6.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Đồ uống probiotic thanh mát cho thú cưng </a>
                        <span class="txt23"> Hỗ trợ tiêu hóa, phù hợp cho thú cưng nhạy cảm </span>
                        <span class="txt22 m-t-20"> Thức ăn vặt cho thú cưng </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-lunch bgwhite">
    <div class="header-lunch parallax0 parallax100" style="background-image: url(/Content/assets/images/header-menu-3.jpg)">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">Đồ tráng miệng cho thú cưng</h2>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-1.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem que vị socola cho thú cưng </a>
                        <span class="txt23">
                            Nguyên liệu an toàn, dành riêng cho thú cưng
                        </span>
                        <span class="txt22 m-t-20"> Đồ tráng miệng cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-2.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem que vị dâu cho thú cưng </a>
                        <span class="txt23">
                            Nguyên liệu an toàn, dành riêng cho thú cưng
                        </span>
                        <span class="txt22 m-t-20"> Đồ tráng miệng cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-3.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem ốc quế vị vani cho thú cưng </a>
                        <span class="txt23">
                            Nguyên liệu an toàn, dành riêng cho thú cưng
                        </span>
                        <span class="txt22 m-t-20"> Đồ tráng miệng cho thú cưng </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-4.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem hộp vị matcha cho thú cưng </a>
                        <span class="txt23">
                            Nguyên liệu an toàn, dành riêng cho thú cưng
                        </span>
                        <span class="txt22 m-t-20"> Đồ tráng miệng cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-5.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem hộp vị sầu riêng cho thú cưng </a>
                        <span class="txt23">
                            Nguyên liệu an toàn, dành riêng cho thú cưng
                        </span>
                        <span class="txt22 m-t-20"> Đồ tráng miệng cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-IceCream-6.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kem hộp vị caramel cà phê cho thú cưng </a>
                        <span class="txt23">
                            Nguyên liệu an toàn, dành riêng cho thú cưng
                        </span>
                        <span class="txt22 m-t-20"> Đồ tráng miệng cho thú cưng </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-dinner bgwhite">
    <div class="header-dinner parallax0 parallax100" style="background-image: url(/Content/assets/images/header-menu-4.jpg)">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">Đồ uống cho thú cưng</h2>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juce-1.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Đồ uống vị cam cho thú cưng </a>
                        <span class="txt23">
                            Đồ uống dinh dưỡng từ trái cây, an toàn cho thú cưng
                        </span>
                        <span class="txt22 m-t-20"> Đồ uống cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juice-2.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Đồ uống vị dâu cho thú cưng </a>
                        <span class="txt23">
                            Đồ uống dinh dưỡng từ trái cây, an toàn cho thú cưng
                        </span>
                        <span class="txt22 m-t-20"> Đồ uống cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juice-3.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Nước trái cây JUICE Táo </a>
                        <span class="txt23">
                            Làm từ những loại trái cây chất lượng cao
                        </span>
                        <span class="txt22 m-t-20"> Đồ uống cho thú cưng </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juice-4.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Đồ uống vị việt quất cho thú cưng
                        </a>
                        <span class="txt23">
                            Đồ uống dinh dưỡng từ trái cây, an toàn cho thú cưng
                        </span>
                        <span class="txt22 m-t-20"> Đồ uống cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juice-5.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Đồ uống vị chuối cho thú cưng </a>
                        <span class="txt23">
                            Đồ uống dinh dưỡng từ trái cây, an toàn cho thú cưng
                        </span>
                        <span class="txt22 m-t-20"> Đồ uống cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Juice-6.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Nước trái cây JUICE đào </a>
                        <span class="txt23">
                            Làm từ những loại trái cây chất lượng cao
                        </span>
                        <span class="txt22 m-t-20"> Đồ uống cho thú cưng </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-lunch bgwhite">
    <div class="header-lunch parallax0 parallax100" style="background-image: url(/Content/assets/images/header-menu-5.jpg)">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">Thực phẩm cho thú cưng</h2>
        </div>
    </div>
    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-1.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sủi cảo nhân thịt </a>
                        <span class="txt23"> Sủi cảo vói lớp nhân đầy đủ đậm đà </span>
                        <span class="txt22 m-t-20"> Thực phẩm cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-2.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sủi cảo nhân tôm </a>
                        <span class="txt23"> Sủi cảo vói lớp nhân đầy đủ đậm đà </span>
                        <span class="txt22 m-t-20"> Thực phẩm cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-3.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Sủi cảo nhân thịt phô mai </a>
                        <span class="txt23"> Sủi cảo vói lớp nhân đầy đủ đậm đà </span>
                        <span class="txt22 m-t-20"> Thực phẩm cho thú cưng </span>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-4.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Bánh gạo xốt phô mai </a>
                        <span class="txt23">
                            Sự kết hợp hoàn hảo giữa bánh gạo mềm dẻo cùng hương vị béo
                            ngậy
                        </span>
                        <span class="txt22 m-t-20"> Thực phẩm cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-5.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Xúc xích xông khói </a>
                        <span class="txt23">
                            Xúc xích hoàn toàn từ thịt sạch và an toàn
                        </span>
                        <span class="txt22 m-t-20"> Thực phẩm cho thú cưng </span>
                    </div>
                </div>

                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="images/TH-Food-6.png" alt="IMG-PRODUCT" /></a>
                    </div>
                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3"> Kim chi cải thảo cắt lát </a>
                        <span class="txt23">
                            Cải thảo tươi sạch, được tuyển chọn kĩ càng
                        </span>
                        <span class="txt22 m-t-20"> Thực phẩm cho thú cưng </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

