@model WebTH.Models.EF.Subscribe

<div class="section-signup bg1-pattern p-t-85 p-b-85">
    @using (Ajax.BeginForm("Subscribe", "Home", new AjaxOptions
    {
        OnBegin = "OnBeginSub",
        OnSuccess = "OnSuccessSub",
        OnFailure = "OnFailureSub"
    }))
    {
        @Html.AntiForgeryToken();
        <script>
            function OnBeginSub() {

            }
            function OnSuccessSub(rs) {
                if (rs.Success) {
                    alert("OK");
                }
            }

            function OnFailureSub(rs) {

            }
        </script>
        <div class="flex-c-m flex-w flex-col-c-m-lg p-l-5 p-r-5">

            <div class="wrap-input-signup size17 bo2 bo-rad-10 bgwhite pos-relative txt10 m-10">

                <input class="bo-rad-10 sizefull txt10 p-l-20" type="email" name="Email" placeholder="Địa chỉ email" required="required",data-error="Cần nhập email" />
                <i class="fa fa-envelope ab-r-m m-r-18" aria-hidden="true"></i>
            </div>

            <button type="submit" class="btn3 flex-c-m size18 txt11 trans-0-4 m-10">
                Đăng ký
            </button>
        </div>

    }

</div>
